.App {
  display: flex;
}

.app-light {
  background-color: #fff;
}

.app-dark {
  background-color: #282c34;
}

.app-header {
  display: flex;
  align-items: center;
  padding: 12px;
}

.app-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.app-logo img {
  width: 30px;
  pointer-events: none;
  margin-bottom: 10px;
  position: relative;
  top: 3px;
}

.app-input {
  padding: 4px 8px;
  width: 100%;
  display: inline-block;
  list-style: none;
  line-height: 1.5715;
  background-image: none;
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  color: #7828c8;
  font-size: 18px;
}

.app-input:focus {
  outline: none;
}

.bookmarks-list {
  max-height: 400px;
  max-width: 356px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 12px;
  margin-bottom: 12px;
}

.bookmarks-list ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.bookmarks-list ul > li {
  padding: 6px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  display: flex;
}

.bookmarks-list ul > li a {
  max-width: 70%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bookmarks-list ul > li:hover {
  font-weight: bold;
}
