.App {
  display: flex;
}

.app-light {
  background-color: #fff;
}

.app-dark {
  background-color: #282c34;
}

.app-main {
  display: flex;
  flex-direction: column;
  padding: 16px 12px;
  width: 100%;
}

.app-header {
  display: flex;
  align-items: center;
}

.app-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.app-logo img {
  width: 30px;
  pointer-events: none;
  margin-bottom: 10px;
  position: relative;
  top: 3px;
}

.app-input {
  padding: 4px 8px;
  width: 100%;
  display: inline-block;
  list-style: none;
  line-height: 1.5715;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  color: #7828c8;
  font-size: 18px;
}

.app-input:focus {
  outline: none;
}

.bookmarks-list ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.bookmarks-list ul > li {
  padding: 6px;
  font-size: 16px;
  cursor: pointer;
}

.bookmarks-list ul > li:hover {
  font-weight: bold;
}

.app-footer {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  padding: 0 6px;
}
