.App {
  display: flex;
}

.app-light {
  background-color: #fff;
}

.app-dark {
  background-color: #282c34;
}

.app-header {
  display: flex;
  align-items: center;
  padding: 12px
}

.app-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.app-logo img {
  width: 30px;
  pointer-events: none;
  margin-bottom: 10px;
  position: relative;
  top: 3px;
}

.app-input {
  padding: 4px 8px;
  width: 100%;
  display: inline-block;
  list-style: none;
  line-height: 1.5715;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  color: #7828c8;
  font-size: 18px;
}

.app-input:focus {
  outline: none;
}
