.App {
  visibility: visible;
  margin: 0;
  overflow-wrap: break-word;
}

.yellow {
  background: #ffa000;
}

.blue {
  background: #40c4ff;
}

.green {
  background: #00e676;
}

.purple {
  background: #8e24aa;
}

.pink {
  background: #e91e63;
}

.background {
  margin: 0;
  padding: 0;
  z-index: 1;
  transition: transform 0.3s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.weather {
  position: fixed;
  right: 50px;
  top: 50px;
  z-index: 999;
}

.time_clock {
  font-size: 100px;
  color: #fff;
  font-weight: 700;

}

.weather h2 {
  color: #fff;
  font-size: 26px;
  font-weight: 400;
}

.background-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.apps {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
}

.intro-middle-wrapper {
  max-width: 100%;
  padding: 0 40px;
  position: relative;
  top: -8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.prompt {
  max-width: 100%;
}

.prompt h1 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  color: #fff;
}

.prompt h3 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  color: #e0ffff;
}

.intro-lower-right-wrapper {
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  margin-right: 20em;
  margin-bottom: 20em;
}

.memorandum {
  min-width: 290px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}

.memorandum textarea {
  background: transparent;
  color: #fff;
  min-width: 300px;
  min-height: 200px;
  font-size: 28px;
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.memorandum textarea:focus {
  outline: none;
}

.tool-box {
  display: flex;
}

.btn-common {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.btn-common i {
  color: #fff;
  font-size: 16px;
}

.btn-common:hover {
  text-shadow: 1px 4px 1px #666;
}

.btn-main {
  position: absolute;
  left: 120px;
  z-index: 100;
  transform: rotate(0);
}

.too-box-list {
  display: flex;
  justify-content: space-between;
  border: 1px red solid;
  position: absolute;
}

.too-box-list .btn-common {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  transition: 0.2s;
}

.tool-box-active .too-box-list .btn-common {
  display: flex;
}

.tool-box-active .btn-main {
  transform: rotate(45deg);
  animation: boxmain;
  animation-duration: 0.2s;
}

.tool-box-active .too-box-list .btn-common:nth-child(1) {
  left: 0;
  animation: box1;
  animation-duration: 0.2s;
}

.tool-box-active .too-box-list .btn-common:nth-child(2) {
  left: 60px;
  animation: box2;
  animation-duration: 0.2s;
}

.tool-box-active .too-box-list .btn-common:nth-child(3) {
  left: 180px;
  animation: box3;
  animation-duration: 0.2s;
}

.tool-box-active .too-box-list .btn-common:nth-child(4) {
  left: 240px;
  animation: box4;
  animation-duration: 0.2s;
}

@keyframes boxmain {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes box1 {
  from {
    left: 120px;
  }
  to {
    left: 0px;
  }
}
@keyframes box2 {
  from {
    left: 120px;
  }
  to {
    left: 60px;
  }
}
@keyframes box3 {
  from {
    left: 120px;
  }
  to {
    left: 180px;
  }
}
@keyframes box4 {
  from {
    left: 120px;
  }
  to {
    left: 240px;
  }
}
