.App {
  visibility: visible;
  margin: 0;
  overflow-wrap: break-word;
}

.background {
  margin: 0;
  padding: 0;
  z-index: 1;
  transition: transform 0.3s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.background-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.apps {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
}

.intro-middle-wrapper {
  max-width: 100%;
  padding: 0 40px;
  position: relative;
  top: -8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.prompt {
  max-width: 100%;
}

.prompt h1 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  color: #fff;
}

.prompt h3 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  color: #E0FFFF;
}

.intro-lower-right-wrapper {
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  margin-right: 20em;
  margin-bottom: 20em;
}

.memorandum {
  position: absolute;
  width: 30vw;
  height: 200px;
  right: 27em;
  bottom: 15em;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  /* justify-content: flex-end; */
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.memorandum ul {
  cursor: pointer;
}

#new-memorandu {
  margin: 5px 0;
  height: 1.5em;
  width: 100%;
  border-radius: 5px;
}

.button {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: calc(50% - 5px);
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7em;
  color: #212529;
  text-align: center;
  text-decoration: none;
  /* vertical-align: middle; */
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  background-color: transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-blue {
  background-color: #66CCFF;
}

.btn-red {
  background-color: #DC3545;
}