.App {
  visibility: visible;
  margin: 0;
  overflow-wrap: break-word;
}

.background {
  margin: 0;
  padding: 0;
  z-index: 1;
  transition: transform 0.3s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.background-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.apps {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
}

.intro-middle-wrapper {
  max-width: 100%;
  padding: 0 40px;
  position: relative;
  top: -8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.prompt {
  max-width: 100%;
}

.prompt h1 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  color: #fff;
}

.prompt h3 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  color: #e0ffff;
}

.intro-lower-right-wrapper {
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  margin-right: 20em;
  margin-bottom: 20em;
}

.memorandum textarea {
  background: transparent;
  color: #fff;
  min-width: 300px;
  min-height: 200px;
  font-size: 28px;
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.memorandum textarea:focus {
  outline: none;
}
