.todo_list {
  position: fixed;
  z-index: 999;
  right: 32px;
  bottom: 100px;
  color: #fff;
}

.todo_content {
  position: absolute;
  width: 400px;
  max-height: 300px;
  right: 0px;
  bottom: 38px;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  background: rgba(255, 255, 255, 0.8);
}

.todo_main {
  max-height: 265px;
  overflow-y: auto;
}

.todo_head_img {
  width: 24px;
  margin-left: 10px;
}

.todo_main ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.todo_main ul li {
  display: flex;
  flex-direction: row;
  color: #000;
  flex-direction: row;
  justify-content: space-between;
}

.text_normal {
  font-weight: 700;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.have_line {
  text-decoration: line-through;
}

.todo_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todo_btn {
  font-size: 20px;
  cursor: pointer;
}

.single_btn {
  display: flex;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}

.single_btn:hover {
  opacity: 0.6;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #bbb;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
}
/* 非激活窗口 */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 255, 0, 0.4);
}
